body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fef2f2;
}

header {
  background-color: #b91c1c; /* vermelho escuro */
  color: white;
  padding: 20px;
  text-align: center;
}

.container-lateral {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Tabela */
table {
  flex: 2;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e5e7eb;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}

th {
  background-color: #fee2e2; /* vermelho bem claro */
  color: #7f1d1d;
}

/* Modal */
#modal {
  flex: 1;
  padding: 20px;
  background-color: #fff1f2;
  border: 1px solid #fecaca;
  border-radius: 8px;
  min-width: 300px;
}

#modal button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  border: none;
}

#btn-limpar {
  margin-bottom: 15px;
  background-color: #f59e0b; /* laranja */
}

#btn-salvar {
  background-color: #16a34a; /* verde */
}

#btn-excluir {
  background-color: #dc2626; /* vermelho vivo */
}

#btn-salvar:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
  opacity: 0.6;
}

#btn-excluir:disabled {
  background-color: #fca5a5;
  cursor: not-allowed;
  opacity: 0.6;
}